
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
filename: archive-report-cipi.css
last updated: 30 January 2024


 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


h1 {
  font-size: 3.25rem;
  line-height: 1;
  /* font-weight: bold; */
}


/* tabbed sections */
.tabbed-sections {
  /* display: grid; */
  /* grid-template-columns: repeat(5,1fr); */
  /* grid-template-columns: repeat(5,auto); */
  /* grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) ); */
  /* grid-template-columns: repeat( auto-fill, minmax(200px,1fr) ); */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tabbed-sections > :is(.tab,h2,h3,h4,h5,h6) {
  /* grid-row: 1 / 2; */
  order: 1;
  cursor: pointer;
}

.tabbed-sections > section {
  display: none;
  /* grid-row: 2 / 3; */
  /* grid-column: 1 / -1; */
  order: 2;
  width: 100%;
}


.tabbed-sections > :is(.tab,h2,h3,h4,h5,h6):focus + section,
.tabbed-sections > section.open {
  display:block;
}



/* header-tabs */
.header-tabs {
  /* border-top: 1px solid black; */
  border-bottom: 2px solid var(--primary-color);
  gap: 0 0.5em;
}

.header-tabs > :is(.tab,h2,h3,h4,h5,h6) {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5em 1em;
  margin-top: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.header-tabs > :is(.tab,h2,h3,h4,h5,h6) img {
  display: inline-block;
  height: 1lh;
  vertical-align: top;
  margin-right: 0.5em;
}


.header-tabs > :is(.tab,h2,h3,h4,h5,h6).active .icon,
.header-tabs > :is(.tab,h2,h3,h4,h5,h6):is(:focus,:active,:target) .icon {
  filter: brightness(9999) contrast(9999);
}

.header-tabs > :is(.tab,h2,h3,h4,h5,h6).active,
.header-tabs > :is(.tab,h2,h3,h4,h5,h6):is(:focus,:active,:target) {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
}
.header-tabs > :is(.tab,h2,h3,h4,h5,h6):hover {
  background: var(--secondary-color);
  color: black;
  text-decoration: none;
}
.header-tabs > :is(.tab,h2,h3,h4,h5,h6):hover .icon {
  filter: brightness(1) contrast(1);
}

.header-tabs > section {
  border-top: 2px solid var(--primary-color);
  padding-block: 1em;
  font-size: 1rem;
}

.header-tabs > section :is(.tab,h2,h3,h4,h5,h6){
  font-weight: bold;
  font-size: 1.1em;
}








a.report-notice {
  display: block;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.5em 1em;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  text-align: center;
}
