
:root {
  /* theme colours */
  --fao-blue: #0f60d5;
  --fao-white: #ffffff;
  --fao-dark_blue: #1a2b4a;
  --fao-light_blue_1: #9ec2f5;
  --fao-light_blue_2: #bad1f6;
  --fao-light_blue_3: #d7e4fa;
  --fao-light_blue_4: #f1f6fd;
  --fao-green: #b2d235;
  --fao-pink: #e23e94;

  --primary-color: #3072E4;
  --secondary-color: var(--fao-light_blue_3);
  --text-color: black;
  --bg-color: white;

  /* no-container containers */
  --outer-width: 100%;    /* max width for element */
  --inner-width: 1250px;  /* max-width for content inside element */
  --min-padding: 1rem;    /* inline padding minimum for content */
}

a, a:visited, a:active {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a:hover {
  text-decoration: underline;
}




/* sizing */

.site-header, .site-footer, 
.homepage-main section, 
.about-main section, 
.media-main section,
.limit-width {
  /*  variables  */
  box-sizing: border-box;/* border-box needed for calculations */

  /* set max width of element */
  max-width: var(--outer-width);
  /* center element in parent */
  margin-inline: auto;

  padding-inline: 
    calc(
      max(
        ( min(var(--outer-width),100%) - var(--inner-width) ) / 2
      ,var(--min-padding)
      )
    );  
}



.site-header {
  /* border-bottom: 1px solid var(--primary-color); */
  align-items: center;
  padding-block: 1rem;
  position: relative;

  /* display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto auto; */
  display: flex;
  gap: 0;

}


/*
.site-header::after {
  content: '';
  display: block;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  height: 1px;
  max-width: var(--inner-width);
  margin-inline: auto;
  background: var(--primary-color);
}
*/



.site-header .header-logo {
  /* grid-area: 1 / 1 / 3 / 2; */
  flex: 0 1 200px;
}

.site-header .header-menu {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 99;
}

/*create a flag to check if mobile menu is open */
.header-menu{
  --isMobile: 0;
}

.site-header nav {
  /* grid-column: 2; */
  font-weight: bold;
}

#primary-navigation {
  /* grid-row: 2; */
  font-size: 1rem;
  overflow-x: clip;

}
.primary-navigation-search {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5em;
}
.primary-navigation-search input {
  width: 10ch;
  transition: width 0.5s;
  border-color: transparent;
  padding-inline-end: 0;
}
.primary-navigation-search input:focus-visible {
  width: 30ch;
  position: relative;
}
.primary-navigation-search button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.primary-navigation-search img {
  height: 1em;
}




#secondary-navigation {
  /* grid-row: 1; */
  font-size: 0.75rem;
}

.site-header nav :is(ul,ol) {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  
  color: var(--primary-color);
}


#secondary-navigation img {
  height: 0.75lh;
}

a.mpp-portal-nav-link {
  background: var(--primary-color);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid var(--primary-color);
}
a.mpp-portal-nav-link:hover,
a.mpp-portal-nav-link:focus-visible {
  background-color: white;
  color: var(--primary-color);
  text-decoration: none;
}

.site-header nav a:has(img) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.site-header nav a:has(img):hover {
  /* background-color: currentColor; */
}



.mobile-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background: var(--bg-color);
  z-index: 99;

}

.mobile-menu-close{
  display: none;
      z-index: 99;
      background: var(--bg-color);
}









/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* homepage */

.homepage-about {
  padding-block: 3rem;
  text-align: center;
}

.homepage-about > * + * {
  margin-top: 1rem;
}

.homepage-about h1 {
  font-size: 3.3rem;
  line-height: 1.1;
  font-weight: bold;
  color: var(--primary-color)
}
.homepage-about p {
  font-size: 1rem;
  margin-inline:auto;
  max-width: 50ch;
}
.homepage-about .meet-the-fao{
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
} 
.homepage-about a{
  color: var(--primary-color);
  font-weight: bold;
} 
.homepage-about img{
  width: 1.5em;
  display: inline-block;
  vertical-align: middle;
} 


.homepage-reports {
  display: grid;
  position:relative;
  grid-template-columns: 250px 1fr;
  gap: 2rem;
  margin-bottom: 1rem;
  /* border-top: 1px solid var(--primary-color); */
  padding-block: 2rem;
}

.homepage-reports::before {
  content: '';
  display: block;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  height: 1px;
  max-width: var(--inner-width);
  width: calc(100% - 2 * var(--min-padding));
  margin-inline: auto;
  background: var(--primary-color);
}

.homepage-reports h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.homepage-reports :is(ul,ol) {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.homepage-reports-filter {
  
}

.homepage-reports-filter li {
  color: var(--primary-color);
}

.homepage-reports-filter details {
  border-bottom: 2px solid var(--primary-color);
}
.homepage-reports-filter summary {
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
}

.homepage-reports-filter ol li {
  padding: 0.5em;
  font-size: 0.8em;
}
.homepage-reports-filter ol li + li {
  border-top: 1px solid #00000033;
}

.homepage-reports-filter ol li:hover {
  color: white;
  background-color: var(--primary-color);
}


.homepage-reports-results{
  padding-left: 2rem;
  border-left: 1px solid var(--primary-color);
}

.homepage-reports-results ol{
  list-style: none;
  display: flex;
  gap: 2rem;
  max-width: 100%;
}

.homepage-reports-results ol li {
  flex: 0 1 270px;
  min-width: 150px;
}

.homepage-reports-results a{
  display: block;
  box-shadow: 0 0 0.5rem 0 #00000088;
  /* margin:0.1rem; */
}

.homepage-reports-results a:hover{
  box-shadow: 0 0 0.5rem 0.25rem var(--primary-color);
  margin:0;
}

.homepage-reports-results li * {
  border-radius: 0.5rem;
}

.homepage-reports-results li img {
  width: 100%;
}







.homepage-subscribe {
  text-align: center;
  padding-block: 2rem;
  background: var(--primary-color);
  color: var(--bg-color);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.homepage-subscribe h2 {
  font-weight: bold;
  font-size: 1.2rem;
}
.homepage-subscribe p {

}
.homepage-subscribe form {
  /* display: grid; */
  /* grid-template-columns: 1fr auto; */
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.homepage-subscribe form > * {
  padding: 0.25em 1em;
  border: 1px solid var(--primary-color);
  border-radius: 0.25rem;
}
.homepage-subscribe form > *:focus-visible {
  border-color: currentColor;
}
.homepage-subscribe input {
  width: 30ch;
}
.homepage-subscribe button {
  font-weight: bold;
  background-color: var(--secondary-color);
}
.homepage-subscribe button:hover {
  background-color: var(--fao-dark_blue);
  border-color: var(--fao-dark_blue);
  color: white;
}
.homepage-subscribe button:active {
  /* translate: 0em 0.1em; */
  border-color: transparent;
}



.site-footer {
  padding-block: 2rem;
  text-align: center;
  font-size: 0.75rem;
}


/* header,nav,main,section {
  outline: 1px dashed #00000088;
  background: #00c9db88;
} */



/* mobile view */
@media (width < 770px) {

    /* testing grid */
    
    .mobile-menu{
      /*align with logo */
      display: flex;
      flex-direction: column;
      box-shadow: none;
      padding: 1rem;
      padding-top: 1.2rem;
      border: none;
      visibility: visible;
    }

    .mobile-menu-close{
      display: flex;
      position: absolute;
      right: 0;
      top: 10px;
      box-shadow: none;
      border: none;
      cursor: pointer;
      visibility: hidden;
    }

    .mobile-menu-close img{
      width: 1em;
      max-height: 1em;
    }

    .header-menu{
      --isMobile: 1;
      position: absolute;
      right:0;
      top:0;
      background: var(--bg-color);
      box-shadow: 0 0 0.5rem 0 #00000088;
      padding: 2rem;
      visibility: hidden;
    }
    .header-menu nav ul {
      flex-direction: column;
      gap: 1rem;
      font-size: 1rem;
    }
    #primary-navigation {
      order: 1;
    }
    #secondary-navigation {
      order: 2;
      border-top: 1px solid var(--primary-color);
    }


    /* homepage-reports-filters above results */
    .homepage-reports {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      overflow-x: clip;
    }

    .homepage-reports-filter ol {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25em;
    }
    .homepage-reports-filter ol li + li {
      border: none;
    }
    .homepage-reports-filter ol li {
      background: var(--secondary-color);
      border-radius: 0.25em;
      padding: 0.25em 0.5em;
    }

    .homepage-reports-filter details[open] {
      /* background: red; */
      padding-bottom: 0.25em;
    }

    .homepage-reports-results {
      padding: 0;
      margin: 0;
      border-left: none;
      max-width: 100%;
      overflow-x: auto;
    }

    .homepage-reports-results ol {
      width: calc(100% + 10rem);
      overflow-x: auto;
      padding: 0.5rem;
    }
    .homepage-reports-results ol li {
      flex: 0 0 60vw;
    }
    .homepage-reports-results ol li:first-child{
      /* margin-left: 1.5rem; */
    }
    
    .homepage-reports-results ol li {
    }
    
    .homepage-reports-results a{
      display: block;
      box-shadow: 0 0 0.5rem 0 #00000088;
      /* margin:0.1rem; */
    }
    
    .homepage-reports-results a:hover{
      box-shadow: 0 0 0.5rem 0.25rem var(--primary-color);
      margin:0;
    }
    
    .homepage-reports-results li * {
      border-radius: 0.5rem;
    }
    
    .homepage-reports-results li img {
      object-fit: cover;
    }
    

  }






























/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* single-report.html */
  
  .single-report {
    display: grid;
    /* grid-template-columns:  70ch 30ch; */
    /* grid-template-columns:  55ch 30ch;  */
    /* grid-template-columns:  minmax(55ch, 1fr) 30ch;  */
    /* grid-template-columns:  1fr 380px;  */
    grid-template-columns:  3fr minmax(20ch,1fr);
    gap: 2rem;
    margin-top: 2rem;
  }
  
  /* main grid positioning */
  .single-report header        { grid-area: 1 / 1 / 2 / 2; }
  .single-report .report-cover { grid-area: 1 / 2 / 2 / 3; }
  .single-report aside         { grid-area: 2 / 2 / 3 / 3; }
  .single-report article       { grid-area: 2 / 1 / 3 / 2; }
  
  
  
  .single-report header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  
  .cluster{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .single-report .topic-links {
    margin-block: 0;
    padding-inline-start: 0;
    list-style: none;
    font-size: 0.75rem;
    color: var(--primary-color);
  }
  
  .single-report .topic-links li {
    position: relative;
  }
  
  .single-report .topic-links a {
    color: currentColor;
    /* text-decoration: none; */
    font-weight: bold;
  }
  
  .single-report .topic-links li + li::before {
    content: '•';
    position: absolute;
    /* position left by half of gap + char width */
    left: calc(-1 * (0.5em + 0.2em));
    top: 0;
  }
  
  .single-report header .summary {

  }
  
  .single-report header .report-date{
    font-size: 0.75rem;
  }
  
  .single-report header .report-issn{
    font-size: 0.75rem;
    /* force to right side */
    /* margin-inline-start: auto; */
  }
  
  .single-report .report-links,
  .single-report .report-links a{
    color: var(--primary-color);
    /* text-decoration: none; */
    font-weight: bold;
  }
  
  .single-report .report-links > * {
    position: relative;
  }
  
  .single-report .report-links > * + *::before {
    content: '•';
    position: absolute;
    /* position left by half of gap + char width */
    left: calc(-1 * (0.5em + 0.2em));
    top: 0;
  }



  /* tabbed sections */
  .tabbed-sections {
    /* display: grid; */
    /* grid-template-columns: repeat(5,1fr); */
    /* grid-template-columns: repeat(5,auto); */
    /* grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) ); */
    /* grid-template-columns: repeat( auto-fill, minmax(200px,1fr) ); */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .tabbed-sections > :is(.tab,h2,h3,h4,h5,h6) {
    /* grid-row: 1 / 2; */
    order: 1;
  }
  
  .tabbed-sections > section {
    display: none;
    /* grid-row: 2 / 3; */
    /* grid-column: 1 / -1; */
    order: 2;
    width: 100%;
  }
  
  
  .tabbed-sections > :is(.tab,h2,h3,h4,h5,h6):focus + section,
  .tabbed-sections > section.open {
    display:block;
  }



  /* header-tabs */
  .single-report .header-tabs {
    border-top: 1px solid black;
    border-bottom: 2px solid var(--primary-color);
    gap: 0 0.5em;
  }

  .single-report .header-tabs > :is(.tab,h2,h3,h4,h5,h6) {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5em 1em;
    margin-top: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .single-report .header-tabs > :is(.tab,h2,h3,h4,h5,h6) img {
    display: inline-block;
    height: 1lh;
    vertical-align: top;
    margin-right: 0.5em;
  }


  .single-report .header-tabs > :is(.tab,h2,h3,h4,h5,h6).active .icon,
  .single-report .header-tabs > :is(.tab,h2,h3,h4,h5,h6):is(:focus,:active,:target) .icon {
    filter: brightness(9999) contrast(9999);
  }

  .single-report .header-tabs > :is(.tab,h2,h3,h4,h5,h6).active,
  .single-report .header-tabs > :is(.tab,h2,h3,h4,h5,h6):is(:focus,:active,:target) {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
  }
  .single-report .header-tabs > :is(.tab,h2,h3,h4,h5,h6):hover {
    background: var(--secondary-color);
    color: black;
    text-decoration: none;
  }
  .single-report .header-tabs > :is(.tab,h2,h3,h4,h5,h6):hover .icon {
    filter: brightness(1) contrast(1);
  }
  
  .single-report .header-tabs > section {
    border-top: 2px solid var(--primary-color);
    padding-block: 1em;
    font-size: 1rem;
  }

  .single-report .header-tabs > section :is(.tab,h2,h3,h4,h5,h6){
    font-weight: bold;
    font-size: 1.1em;
  }

  /* report-info */
  #report-info ul {
    list-style-type: none;
    padding-left: 0;
  }
  #report-info li {
    font-size: 0.75rem;
  }
  #report-info li span {
    display: block;
    font-size: 1rem;
  }

  #report-info li + li {
    margin-top: 1em;
  }

  /* report-cite */
  #report-cite {
  }

  #report-cite > div {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  #report-cite > div span {
    display: block;
    font-weight: bold;
    /* grid-row: ; */
    grid-column: 1 / -1;
  }

  #report-cite .cite-text {
    grid-column: 1 / 2;
    grid-row: 2/ 3;
    margin-top: 0;
    font-weight: normal;
    padding: 0.5em;
    padding-left: calc(4ch + 0.5em);
    text-indent: -4ch;
  }

  .copy-button {
    background: none;
    border: none;
    padding: 0.5em;
    margin: 0;
    width: 3em;
    cursor: pointer;
    grid-row: 2/ 3;
    grid-column: 2 / -1;
    position: relative;
  }

  .copy-button.copied::after {
    content: 'Copied!';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-weight: bold;
    background-color: #ffffff88;
  }

  /* hover styles  */
  #report-cite span:is(:hover,:focus-visible):has( + button),
  #report-cite span:is(:hover,:focus-visible) + button,
  #report-cite button:is(:hover,:focus-visible),
  #report-cite span:has( + button:is(:hover,:focus-visible)) {
    background-color: var(--secondary-color);
  }

  #report-cite .report-cite-message{
    display: flex;
    color: var(--secondary-color);
    background: #00000088;
    text-align: center;
    /* padding: 1em; */
    font-size: 2em;
    font-weight: bold;
    grid-row: 2/3;
    grid-column: 1 / -1;    
    align-items: center;
    justify-content: center;
  }



  /* report-share */
  #report-share {
    
  }

  #report-share > * {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  #report-share input{
    flex: 0 1 40ch;
    /* max-width: ; */
  }

  #report-share button{
    flex: 0 0 auto;
  }

  #report-share a{
    display: block;
    width: 1.5em;
    height: 1.5em;
  }


  /* report cover */
  .single-report .report-cover {
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    margin-inline: auto;
  }
  /* report video summary */
  .single-report .report-cover {
    /* max-height: 25rem; */
    width: 100%;
    max-width:  25rem;
  }
  /* report cover image */
  .single-report .report-cover {
    
  }
  
    
  .single-report h1 {   
    font-size: 3.25rem;
    line-height: 1; 
    font-weight: bold;
  }
  
  
  
  /* table of contents */
  
  .single-report .table-of-contents {
    --close-toc-on-click: 0;
  }
  
  
  .single-report .table-of-contents details {
    position: sticky;
    top: var(--sticky-toc-top, 1rem);
    /* top: 1rem; */
    border-radius: 0.5rem;
    background: var(--fao-light_blue_3);
    padding-block: 1rem;
  }
  .single-report .table-of-contents details {
    z-index: 10;
  }
  
  .single-report .table-of-contents details h2{
    padding-inline: 1em;
    margin-block-end: 0.5em;
    font-weight: bold;
  } 
  
  .single-report .table-of-contents details :is(ol,ul) {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  .single-report .table-of-contents details a{
    display:block;
    color: var(--primary-color);
    padding-inline: 1rem;
    text-decoration: none;
  } 
  .single-report .table-of-contents details [aria-current],
  .single-report .table-of-contents details a:is(:hover, :focus-visible) {
    background: var(--primary-color);
    color: var(--fao-white);
  } 
  
  .table-of-contents details summary {
    background: var(--fao-light_blue_3);
    list-style: none;
    pointer-events: none;
  }
  .table-of-contents details summary::-webkit-details-marker {
    display: none;
  }
  
  .table-of-contents summary h2 {
    display: inline;
  }
  
  
  .table-of-contents :is(ol,ul) {
    background: var(--fao-light_blue_3);
    list-style: none;
  }

  
  /* switch to mobile */
  @media (width < 770px) {
    .single-report {
      grid-template-columns:  1fr; 
    }
    
    /* main grid positioning */
    .single-report header { grid-area: 1 / 1 / 2 / 2; }
    .single-report .report-cover { 
      grid-area: 2 / 1 / 3 / 2; 
    }
    .single-report aside { grid-area: 3 / 1 / 4 / 2; }
    .single-report article { grid-area: 4 / 1 / 5 / 2; }
  
  
    .single-report .table-of-contents {
      --close-toc-on-click: 1;
      position: sticky;
      top: var(--sticky-toc-top, 1rem);
      z-index: 10;
      box-shadow: 0 0.5rem 0.5rem 0 #00000088;
    }
    
    .single-report .table-of-contents details {
      /* position: sticky; */
      padding-block: 0.5rem;
      margin-inline: calc(-1* var(--min-padding));
      border-radius: 0;
    }
  
    .table-of-contents details summary{
      position: relative;
      pointer-events: auto;
    }
  
    .table-of-contents details summary::after {
      display:block;
      content:'+';
      font-weight: bold;
      top:0;
      right:2em;
      position: absolute;
    }
    
    .table-of-contents details[open] summary::after {
      content: '-';
    }
  
  }




a.report-notice {
  display: block;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.5em 1em;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  text-align: center;
}




  /* report content styles */



/* heading styles separated from H# elements */
.heading-1{ 
   
  font-size: 32px;
  line-height: 40px; 
}
.heading-2{ 
   
  font-size: 26px;
  line-height: 32px; 
}
.heading-3{ 
   
  font-size: 22px;
  line-height: 24px; 
}
.heading-4{ 
   
  font-size: 20px;
  line-height: 28px; 
}
.heading-5{ 
   
  font-size: 20px;
  line-height: 28px; 
}



article {
  /* max-width: 100%; */
  overflow-x: auto;
}

article > * + *,
section > * + * {
  margin-top: 1em;
}

/* add spacing between heading and previous content */
article :is(h2,h3,h4,h5) {
  font-weight: bold;
}
/* if a heading follows a heading, remove the extra spacing */
:is(.heading-1,.heading-2,.heading-3,.heading-4,.heading-5) + :is(.heading-1,.heading-2,.heading-3,.heading-4,.heading-5){
  /* margin-top:0; */
}



/* 10px is too much spacing for sub-lists */

article :is(ul,ol)::marker {
  color: var(--primary-color);
}

article ul ul {
  margin-top: 5px;
}




.sidebyside .heading-0,
.sidebyside .heading-1,
.sidebyside .heading-2,
.sidebyside .heading-3,
.sidebyside .heading-4,
.sidebyside .heading-5 {
  margin-top:0;
}






div.report-table-container{
  overflow-x: auto;
  width: 100%;
  /* max-width: 1500px; */
}

.report-table caption {
  text-align: left;
}

:is(div.report-chart, table.report-table) .title {
  padding-block: 0;
}

:is(.report-table,.report-chart) .title span{
  display: block;
  color: var(--primary-color);
  margin-bottom: 5px;
  padding: 0;
  line-height: 2.5em;
}

col{
  /* font-size:clamp(9px,1.7vw,15px); */
}


table.report-table :is(th,td).header {
  background-color: var(--fao_dark_blue);
  /* --fao-dark-blue-rgb */
  color: white;
  font-weight: bold;
}

.bg-alt-blue, 
tr.bg-alt-blue > *{
  background-color: #D4E4FC;
}





/* new chart styles */

.report-chart{
  /* outline: 1px dashed red; */
  display:grid;
  grid-template-columns: 1fr auto;
  gap: 0;
}
.report-chart > *    { 
  /* order: 3; */
  grid-column: 1 / -1;
}
/* ensure correct order of content */
.report-chart .title { grid-row: 1 / 2; }
.report-chart > img  { grid-row: 2 / 3; }


/* collapsable alt text */
.report-chart .report-chart-alt {}
.report-chart .report-chart-alt[open] {}

.report-chart .report-chart-alt summary {
  display:inline;
  color: #999;
  font-weight: bold;
  cursor: pointer;
}
.report-chart .report-chart-alt summary:is(:hover,:focus-visible) {
  text-decoration: underline;
}

.report-chart .report-chart-alt summary::after {
  content: '▼';
  display: inline-block;
  margin-left: 0.5em;
  transform: rotate(0deg);
  /* transition: transform 0.5s; */
}
.report-chart .report-chart-alt[open] summary::after {
  transform: rotate(180deg);
}

.report-chart .report-chart-alt .report-table-container {
  border-left: 1px solid black;
  padding-left: 1rem;
}


/* expand chart images */
.expand-button,
.share-button {
  border: none;
  /* padding: 0.5em; */
  margin: 0;
  padding:0;
  background: none;
  /* outline: 1px dashed blue; */
  border-radius: 0.25em;
  font-size: 1rem;
  min-width: 24px;
  min-height: 24px;
  /* width: max-content; */
  /* height: max-content; */
  width: 2em;
  height: 2em;
  aspect-ratio: 1;
  cursor: pointer;
  /* outline: 2px dashed red; */
}
:is(.expand-button,.share-button):is(:hover,:focus-visible){
  background: var(--primary-color);
}
:is(.expand-button,.share-button):is(:hover,:focus-visible) img{
    filter: brightness(9999) contrast(9999);
}

:is(.expand-button,.share-button) img {
  height: 1em;
}

.expanded-image :is(.expand-button,.share-button) img {
  /* height: 2em; */
}


.expand-button {
  grid-area: 1 / 2 / 2 / 3;
}

.expanded-image {
  display: grid;
  /* specifiy first two rows */
  grid-template-rows: auto 1fr;
  /* set default size for other rows */
  grid-auto-rows: auto;
  position: fixed;
  top: 50%;
  /* transform: translateY(-50%); */
  translate: 0 -50%;
  left: 1rem;
  width: calc(100% - 2rem) !important;
  z-index: 99;
  max-height: 90vh;
  
  background: #ffffff;
  /* box-shadow: 0 0.5rem 1rem 0.5rem #00000088; */
  box-shadow: 0 0 0 100vmax #00000088;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.expanded-image > img {
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.expanded-image details {
  display: none;
}


/* share chart images */
.share-button {
  grid-area: 1 / 1 / 2 / 2;
  margin-left:auto;
  margin-right: 0.25em;
}










/* about.html */

.about-header {
  /* --inner-width:; */
}
.about-header h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  margin-inline: auto;
  max-width: max-content;
  padding-block: 2rem;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 2rem;
  text-align: center;
}
.about-header p {
  max-width: 55ch;
  text-align: center;
  margin-inline: auto;
}

.about-page-links {
  /* --inner-width: 900px; */
}

.about-page-links ul {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  /* grid-template-columns: repeat(auto-fit,1fr); */
  /* justify-items: center; */
  gap: 1rem;

  padding:0;
  margin:0;
  padding-block: 4rem;

  list-style-type: none;
}

@media (width < 770px) {
  .about-page-links ul {
    grid-template-columns: repeat(3,1fr);
  }
}

/* @media (width < 470px) {
  .about-page-links ul {
    grid-template-columns: repeat(2,1fr);
  }
} */

.about-page-links a {
  justify-items: center;
  display: grid;
  text-align: center;
  color: var(--primary-color);
  height: 100%;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

/* .about-page-links a:is(:hover,:focus-visible) {
  color: white;
  background: var(--primary-color);
}
.about-page-links a:is(:hover,:focus-visible) img {
  filter: brightness(9999) contrast(9999);
} */

.about-page-links a:is(:hover,:focus-visible) {
  background: var(--secondary-color);
}

.about-page-links a:active{
  color: white;
  background: var(--primary-color);
}
.about-page-links a:active img {
  filter: brightness(9999) contrast(9999);
}



.about-leg-image {
  /* width: clamp(300px,50%,600px); */
  max-width: 55ch;
  margin-inline: auto;
}



/********************** media.html ************************/


.media-content{
  /*border: red 1px solid;*/
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem 2rem;
  --min-padding: 0;
  /*margin-top: 1rem;*/
}

/*Probably a more efficent way to target this too */
.media-main a{
  color: var(--primary-color);
}

.media-content :is(h2){
  font-size: 1rem;
  line-height: 1.1;
  font-weight: bold;
}

.media-content :is(h3){
  font-size: 1rem;
  line-height: 1.2;
  padding: 0.5rem 0;
  font-family: 'Open Sans', sans-serif;
  /*padding: 0.5rem 0;*/
  color: var(--primary-color);
}



.media-release-preview{
  display: grid;
  grid-template-rows: 2.2fr 1fr;
  grid-template-columns: 1fr;
  /*insert into the first column*/
  grid-column: 1;
  /*insert into the first row*/
  grid-row: 1;
  /*margin: 0 0 1rem 0;*/
  grid-gap: 1rem;
  margin: 0;
}


.media-release-preview div{
  /*border: red 1px solid;*/
}

/*media inquireis*/


.media-inquiries{
  grid-column: 2;
  grid-row: 1;
  margin: 0;
}

.media-inquiries > h2:first-of-type{
  font-weight: normal;
}

.media-inquiries a{
  color: var(--primary-color);
  font-weight: bold;
}

.media-inquiries > h2:first-of-type:before{
  /*short blue line*/
  content: '';
  width: calc(10ch + 1rem);
  height: 2px;
  background: var(--primary-color);
  display: block;
  margin-bottom: 1rem;

}


.latest-media-release{
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  grid-column: 1;
  grid-row: 1;
  background-color: var(--fao-light_blue_4);
  padding: 2rem 1rem;
  /*div should have rounded corners*/
  border-radius: .5rem;
}

.latest-media-release > *{
  grid: 1 / 1;
}

/*get the p element for latest-media-release and featured-release*/
.latest-media-release p, .featured-release p{
  /*center to the middle of the grid*/
  align-self: end;
  font-size: .75rem;
}


.latest-media-release h1{
  font-size: 3rem;
  line-height: 1.1;
  /*font-weight: bold;*/
  color: var(--primary-color);
}

.featured-releases ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
  grid-column: 1;
  grid-row: 2;
  margin: 0 0 1rem 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.featured-releases li{
  /*border: red 1px solid;*/
  padding: 0;
  margin: 0;
}



.featured-release{
  display: grid;
  grid-template-rows: 2rem 1fr 20px;
  /*create a fixed height for the div*/
  height: 100%;
  width: 100%;
  padding: 1rem;
  margin: 0;
  background-color: var(--fao-light_blue_4);
  border-radius: .5rem;
}
.featured-release > *{
  grid: 1 / 1;
}

.latest-media-release:is(:hover, :focus-visible), .featured-releases li > div:is(:hover, :focus-visible){
  background-color: var(--fao-light_blue_3);
}

.latest-media-release:is(:active), .featured-releases li > div:is(:active){
  color: white;
  background: var(--primary-color);
  filter: brightness(9999) contrast(9999);
}


.media-links{
  --min-padding: 0;
}

.media-links img{
  aspect-ratio: 1;
}


.media-links ul {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 1rem;

  padding:0;
  margin:0;
  padding-block: 4rem;

  list-style-type: none;
}

.media-links a {
  justify-items: center;
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: center;
  color: var(--primary-color);
  height: 100%;
  border-radius: 1rem;
}






/*we want each media-links img to retain the same size while the grid changes*/


/*media query */

@media(width < 770px){
  /*make the media-release-preview grid one column with equal width 1fr 1fr*/
  .media-content{
    /*two rows instead of two columns*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow-x: clip;
  }
  .media-release-preview{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }

  .media-inquiries{
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    padding: 0;
  }



  .featured-releases ul {
    display: flex;
    height: 250px;
    width: 100%;
    overflow-x: auto;
    padding: 0;
  }
  .featured-releases ul li {
    flex: 0 0 60vw;
  }
  .featured-release{
    grid-template-columns: 1fr;
    grid-template-rows: 1rem 1fr 1rem;
    grid-column: 1;
    grid-row: 1;
    padding: 1.5rem 1rem;
  }
  .media-links ul {
    grid-template-columns: repeat(3,1fr);
  }
}


