/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
filename: new_styles.css
last updated: 19 January 2024

Common layout styles for new FAO redesign.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


 /* global custom properties */
:root {
  /* FAO report colours */


  /* theme colours */
  --fao-blue: #0f60d5;
  --fao-white: #ffffff;
  --fao-dark_blue: #1a2b4a;
  --fao-light_blue_1: #9ec2f5;
  --fao-light_blue_2: #bad1f6;
  --fao-light_blue_3: #d7e4fa;
  --fao-light_blue_4: #f1f6fd;
  --fao-green: #b2d235;
  --fao-pink: #e23e94;

  /* website theme colours */
  --primary-color: #3072E4;
  --secondary-color: var(--fao-light_blue_3);
  --text-color: black;
  --bg-color: white;

  /* layout sizing */

  /* no-container containers */
  --outer-width: 100%;    /* max width for element */
  --inner-width: 1250px;  /* max-width for content inside element */
  --min-padding: 1rem;    /* inline padding minimum for content */
  /* site-header */
  --site-header-logo-width: 200px;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a, a:visited, a:active {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}




/* sizing */

.site-header, 
.site-footer, 
.homepage-main section, 
.about-main section, 
.limit-width {
  /*  variables  */
  box-sizing: border-box;/* border-box needed for calculations */

  /* set max width of element */
  max-width: var(--outer-width);
  /* center element in parent */
  margin-inline: auto;

  padding-inline: 
    calc(
      max(
        ( min(var(--outer-width),100%) - var(--inner-width) ) / 2
      ,var(--min-padding)
      )
    );  
}



.site-header {
  /* border-bottom: 1px solid var(--primary-color); */
  align-items: center;
  padding-block: 1rem;
  position: relative;

  /* display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto auto; */
  display: flex;
  gap: 0;

}

/* .site-header::after {
  content: '';
  display: block;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  height: 1px;
  max-width: var(--inner-width);
  width: calc(100% - 2 * var(--min-padding));
  margin-inline: auto;
  background: var(--primary-color);
} */


.site-header .header-logo {
  /* grid-area: 1 / 1 / 3 / 2; */
  flex: 0 1 200px;
}

.site-header .header-menu {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 99;
}

/*create a flag to check if mobile menu is open */
.header-menu{
  --isMobile: 0;
}

.site-header nav {
  /* grid-column: 2; */
  font-weight: bold;
}

#primary-navigation {
  /* grid-row: 2; */
  font-size: 1rem;
  overflow-x: clip;

}
.primary-navigation-search {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5em;
}
.primary-navigation-search input {
  width: 10ch;
  transition: width 0.5s;
  border-color: transparent;
  padding-inline-end: 0;
}
@media(width > 770px){
  .primary-navigation-search input:focus-visible {
    width: 30ch;
    position: relative;
  }
}
.primary-navigation-search button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.primary-navigation-search img {
  height: 1lh;
}




#secondary-navigation {
  /* grid-row: 1; */
  font-size: 0.75rem;
}

.site-header nav :is(ul,ol) {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  
  color: var(--primary-color);
}


#secondary-navigation img {
  height: 0.75lh;
}

a.mpp-portal-nav-link {
  display: block;
  background: var(--primary-color);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid var(--primary-color);
}
a.mpp-portal-nav-link:hover,
a.mpp-portal-nav-link:focus-visible {
  background-color: white;
  color: var(--primary-color);
  text-decoration: none;
}

.site-header nav a:has(img) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.site-header nav a:has(img):hover {
  /* background-color: currentColor; */
}



.mobile-menu {
  display: none;
  /* position: absolute; */
  /* right: 0;
  top: 0;
  background: var(--bg-color); */
  /* z-index: 99; */

}

.mobile-menu-close{
  display: none;
    z-index: 99;
    background: var(--bg-color);
}





.site-footer {
  padding-block: 2rem;
  text-align: center;
  font-size: 0.75rem;
}


/* mobile view */
@media (width < 770px) {

    .header-menu{
      --isMobile: 1;

      position: absolute;
      top: 0;
      right:0;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      /* align-items: flex-end; */
      align-items: stretch;
    }
    
    .mobile-menu {
      display: block;
      /* border: none; */
      cursor: pointer;
      /* width: max-content; */
      border: none;
      font-size: 0;
      width:  4rem;
      aspect-ratio: 1;
      /* margin-left: auto; */
      background-color: var(--bg-color);
      background-image: url(imgs/Hamburger-Menu.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 2rem;
      /* outline: 1px dashed red; */
      margin-left: auto;
    }
    
    .header-menu nav {
      /* hide nav options if closed */
      display: none;
    }
    

    .header-menu.open {
      width: calc(100% - var(--site-header-logo-width)/2);
      height: 100vh;
      background: var(--bg-color);
      box-shadow: 0 0 1rem 0.5rem #00000088, 0 0 0 99999vmax #00000088;
    }
    
    .header-menu.open .mobile-menu {
      /* switch button image */
      background-image: url(imgs/CloseMenu.png);
    }

    .header-menu.open nav {
      /* show nav options if open */
      display: block;
    }

    .header-menu nav ul {
      flex-direction: column;
      align-items: flex-end;
      gap: 0.5rem;
      font-size: 1rem;
      /* padding-inline: 1rem; */
      margin-inline: 1rem;
      /* outline: 1px dashed red; */
      /* width: 100%; */
    }

    .header-menu nav li :is(a) {
      display:block;
      padding-block: 0.5rem;
      /* background: lightgreen; */
    }

    #primary-navigation {
      order: 1;
    }

    /* re-order menu options */
    #primary-navigation li{
      order: 2;
    }
    #primary-navigation .primary-navigation-search{
      order: 1;
      display: flex;
      align-items: stretch;

      width: 100%;
      border: 1px solid #00000066;
      border-radius: 0.5em;
      /* padding: 0.25em; */
    }

    #primary-navigation .primary-navigation-search button {
      display: block;
      flex: 0 0 2em;
      
      /* width: 2em; */
      aspect-ratio: 1;
      /* outline: 1px dashed red; */
      background-color: transparent;
    }
    
    #primary-navigation .primary-navigation-search input {
      background-color: transparent;
      flex: 1 0 auto;
      /* width: auto; */
      /* max-width: 100%; */
      padding: 0.5em;
    }

    #secondary-navigation {
      order: 2;
    }
    #secondary-navigation ul{
      flex-direction: row;
      flex-wrap: wrap;
      /* justify-content: space-between; */
      gap: 1rem 0.5rem;

      border-top: 1px solid var(--primary-color);
      /* margin-top: 1rem; */
      padding-top: 1rem;
    }

    .secondary-navigation-mpp-portal { order:1; flex-basis: 100%; }
    .secondary-navigation-contact    { order:2; flex-basis: 100%; }
    .secondary-navigation-twitter    { order:2; flex: 0 1 2rem; }
    .secondary-navigation-linkedin   { order:2; flex: 0 1 2rem; }
    .secondary-navigation-instagram  { order:2; flex: 0 1 2rem; }
    .secondary-navigation-youtube    { order:2; flex: 0 1 2rem; }
    .secondary-navigation-language   { order:2; flex-basis: 100%; }


    .secondary-navigation-mpp-portal a { display:block; margin-left: auto; width: max-content;}
    .secondary-navigation-contact    a { display:block; margin-left: auto; width: max-content;}
    .secondary-navigation-language   a { display:block; margin-left: auto; width: max-content;}

    #secondary-navigation a:has(img) {
      /* padding:1em; */
      /* background: red; */
      min-width: 24px;
      min-height: 24px;
      display: flex;
    }

    #secondary-navigation a img {
      /* background: pink; */
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1;
      /* height: 2rem; */
    }

  }



































