/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
filename: style.css
last updated: 25 October 2023

Stylesheet for new FAO redesign
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* global variables */

:root {
  /* layout variables */
  --page-width-max: 900px;

  /* theme colours */
  --fao_blue: #0f60d5;
  --fao_white: #ffffff;
  --fao_dark_blue: #1a2b4a;
  --fao_light_blue_1: #9ec2f5;
  --fao_light_blue_2: #bad1f6;
  --fao_light_blue_3: #d7e4fa;
  --fao_light_blue_4: #f1f6fd;
  --fao_green: #b2d235;
  --fao_pink: #e23e94;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* global layout */

body > header {
  height: 100px;
}

body > footer {
  height: 200px;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* global styles */

html {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Gabarito', sans-serif;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* single-report.html */

.single-report {
  display: grid;
  grid-template-columns:  70ch 30ch;
  gap: 2rem;
  /* max-width: var(--page-width-max); */
  width: max-content;
  margin-inline: auto;
}

/* main grid positioning */
.single-report header        { grid-area: 1 / 1 / 2 / 2; }
.single-report .report-cover { grid-area: 1 / 2 / 2 / 3; }
.single-report aside         { grid-area: 2 / 2 / 3 / 3; }
.single-report article       { grid-area: 2 / 1 / 3 / 2; }



.single-report header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.cluster{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.single-report .topic-links {
  /* outline: 1px dashed hotpink; */
}

.single-report .topic-links a {
  font-size: 0.75rem;
  color: var(--fao_blue);
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

.single-report .topic-links a + a::before {
  content: '•';
  position: absolute;
  left: -0.75em;
  top: 0;
}

.single-report header .summary {
  border-bottom: 1px solid black;
  padding-block-end: 1em;
}



.single-report header .report-date{
  font-size: 0.75rem;
}

.single-report header .report-issn{
  font-size: 0.75rem;
  /* force to right side */
  margin-inline-start: auto;
}

.single-report .report-links,
.single-report .report-links a {
  color: var(--fao_blue);
  text-decoration: none;
  font-weight: bold;
}



.single-report .report-cover {
  border: 1px solid var(--fao_blue);
  border-radius: 1rem;
  aspect-ratio: 1/1;
}

.single-report aside {
  /* position: relative; */
}

.single-report article {
}


.single-report h1 {   
  font-size: 3.5rem;
  line-height: 1; 
  font-weight: 500;
}




.single-report .table-of-contents {
  position: sticky;
  top: 1rem;
  background: var(--fao_light_blue_3);
  border-radius: 0.5rem;
  padding-block: 1rem;
}

.single-report .table-of-contents h2{
  padding-inline: 1em;
  margin-block-end: 0.5em;
  font-weight: bold;
} 

.single-report .table-of-contents :is(ol,ul) {
  list-style: none;
  padding: 0;
  margin: 0;
}

.single-report .table-of-contents a{
  display:block;
  color: var(--fao_blue);
  padding-inline: 1rem;
  text-decoration: none;
} 
.single-report .table-of-contents a:hover{
  background: var(--fao_blue);
  color: var(--fao_white);
  padding-inline: 1rem;
} 


















/* EBO Spring 2023 */






:is(.report-table,.report-chart) .title span{
  display:block;
  color: var(--fao-blue);
  margin-bottom: 5px;
}

col{
  font-size:clamp(9px,1.7vw,15px);
}

div.report-table-container{
  overflow-x: auto;
}

/* heading styles separated from H# elements */
.heading-1{ 
   
  font-size: 32px;
  line-height: 40px; 
}
.heading-2{ 
   
  font-size: 26px;
  line-height: 32px; 
}
.heading-3{ 
   
  font-size: 22px;
  line-height: 24px; 
}
.heading-4{ 
   
  font-size: 20px;
  line-height: 28px; 
}
.heading-5{ 
   
  font-size: 20px;
  line-height: 28px; 
}

/* add spacing between heading and previous content */
article > * + :is(h1,h2,h3,h4,h5) {
  margin-top: 3     rem;
}
/* if a heading follows a heading, remove the extra spacing */
:is(.heading-1,.heading-2,.heading-3,.heading-4,.heading-5) + :is(.heading-1,.heading-2,.heading-3,.heading-4,.heading-5){
  margin-top:0;
}

table.report-table :is(th,td).header {
  background-color: var(--fao_dark_blue);
  /* --fao-dark-blue-rgb */
  color: white;
  font-weight: bold;
}

/* 10px is too much spacing for sub-lists */
ul ul {
  margin-top: 5px;
}


.bg-alt-blue, 
  tr.bg-alt-blue > *{
    background-color: #D4E4FC;
  }

col{
  font-size:clamp(9px,1.7vw,15px);
}

div.report-table-container{
  overflow-x: auto;
}

.sidebyside .heading-0,
.sidebyside .heading-1,
.sidebyside .heading-2,
.sidebyside .heading-3,
.sidebyside .heading-4,
.sidebyside .heading-5 {
  margin-top:0;
}




 