/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
filename: style.css
last updated: 25 October 2023

Stylesheet for new FAO redesign
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* global variables */

:root {
  /* layout variables */
  --page-width-max: 900px;

  --sticky-header-top: 0;
  --sticky-toc-top: 1rem;

  /* theme colours */
  --fao_blue: #0f60d5;
  --fao_white: #ffffff;
  --fao_dark_blue: #1a2b4a;
  --fao_light_blue_1: #9ec2f5;
  --fao_light_blue_2: #bad1f6;
  --fao_light_blue_3: #d7e4fa;
  --fao_light_blue_4: #f1f6fd;
  --fao_green: #b2d235;
  --fao_pink: #e23e94;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* global layout */




body > header {
  height: 100px;
}

body > footer {
  height: 200px;
}





/* test colors */
body.test {background: rgb(196, 206, 196);}
body.test header { background:rgb(192, 94, 94);}
body.test nav { background:rgb(214, 139, 139);}
body.test main { background:rgb(137, 194, 203);}
body.test footer { background:rgb(120, 188, 159);}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* global styles */

html {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Gabarito', sans-serif;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* single-report.html */

.single-report {
  display: grid;
  grid-template-columns:  70ch 30ch;
  grid-template-columns:  55ch 30ch;
  gap: 2rem;
  /* max-width: var(--page-width-max); */
  width: max-content;
  margin-inline: auto;
}

/* main grid positioning */
.single-report header        { grid-area: 1 / 1 / 2 / 2; }
.single-report .report-cover { grid-area: 1 / 2 / 2 / 3; }
.single-report aside         { grid-area: 2 / 2 / 3 / 3; }
.single-report article       { grid-area: 2 / 1 / 3 / 2; }



.single-report header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.cluster{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.single-report .topic-links {
  margin-block: 0;
  padding-inline-start: 0;
  list-style: none;
  font-size: 0.75rem;
  color: var(--fao_blue);
}

.single-report .topic-links li {
  position: relative;
}

.single-report .topic-links a {
  color: currentColor;
  text-decoration: none;
  font-weight: bold;
}

.single-report .topic-links li + li::before {
  content: '•';
  position: absolute;
  /* position left by half of gap + char width */
  left: calc(-1 * (0.5em + 0.2em));
  top: 0;
}

.single-report header .summary {
  border-bottom: 1px solid black;
  padding-block-end: 1em;
}

.single-report header .report-date{
  font-size: 0.75rem;
}

.single-report header .report-issn{
  font-size: 0.75rem;
  /* force to right side */
  margin-inline-start: auto;
}

.single-report .report-links,
.single-report .report-links a{
  color: var(--fao_blue);
  text-decoration: none;
  font-weight: bold;
}

.single-report .report-links > * {
  position: relative;
}

.single-report .report-links > * + *::before {
  content: '•';
  position: absolute;
  /* position left by half of gap + char width */
  left: calc(-1 * (0.5em + 0.2em));
  top: 0;
}


.single-report .report-cover {
  border: 1px solid var(--fao_blue);
  border-radius: 1rem;
  aspect-ratio: 1/1.3;
}


.single-report aside {
  /* position: relative; */
}


.single-report article {
}


.single-report h1 {   
  font-size: 3.5rem;
  line-height: 1; 
  font-weight: 500;
}



/* table of contents */

.single-report .table-of-contents {
  position: sticky;
  top: var(--sticky-toc-top, 1rem);
  background: var(--fao_light_blue_3);
  border-radius: 0.5rem;
  padding-block: 1rem;
}

.single-report .table-of-contents h2{
  padding-inline: 1em;
  margin-block-end: 0.5em;
  font-weight: bold;
} 

.single-report .table-of-contents :is(ol,ul) {
  list-style: none;
  padding: 0;
  margin: 0;
}

.single-report .table-of-contents a{
  display:block;
  color: var(--fao_blue);
  padding-inline: 1rem;
  text-decoration: none;
} 
.single-report .table-of-contents .highlight,
.single-report .table-of-contents a:is(:hover, :focus-visible) {
  background: var(--fao_blue);
  color: var(--fao_white);
} 

.table-of-contents summary {
  list-style: none;
}


summary h2 {
  display: inline;
}











/* updated report notice */

.updated-report-notice {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1rem;
  background: #fffbcc;
  background-image: linear-gradient(#fffbcc, #f5ec8e);
  font-weight: bold;
  padding: 1rem;
  margin-block-end: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 5px 0px #00000088;
  align-items: center;
}

.updated-report-notice > p {
  
}


.updated-report-notice > a {
  --corner-size: 2em;

  border-radius: 0.5rem;
  overflow: hidden;
  margin-inline-start: auto;
  /* max-height: 6ex; */
  flex-basis: 5em;
  box-shadow: 0px 0 5px 0px #00000088;
  position: relative;
  /* border: 1px solid #00000088; */
}


.updated-report-notice > a > img {
  width: 100%;
}




.updated-report-notice > a {
  --ribbon-size: 5rem;
  position: relative;
  overflow: hidden;
}

.updated-report-notice > a::before {
  content:'';
  /* sizing */
  width: var(--ribbon-size);
  aspect-ratio: 1/1;
  /* positioning */
  position: absolute;
  top: 0;
  right: 0;
  translate: 50% -50%;
  rotate: 45deg;
  /* styling */
  background: #ff0000;
  /* outline: 5px dashed #ffffff88; */
  outline-offset: -10px;
  box-shadow: 0 0 5px 0 #00000088;
}

.updated-report-notice > a::after {
/*   outline: 2px dashed red; */
  /* sizing */
  width: calc(var(--ribbon-size) / 2);
  aspect-ratio: 1/1;
  /* positioning */
  position: absolute;
  top: 0;
  right: 0;
  translate: 7.5% -7.5%;
  rotate: 45deg;
  display: flex;
  align-items: center;
  justify-content: center;
  /* styling */
  content: attr(data-ribbon-text);
  color: white;
  font-size: calc(var(--ribbon-size) / 7);
  text-shadow: #000000cc 0 0 10px;
}








/* updated report notice 2 */

.updated-report-notice-2 {
  display: grid;
  grid-template-columns: 1fr 6rem;
  gap: 1rem;
  margin-block-end: 3rem;
}
.updated-report-notice-2 > * {
  border-radius: 0.5rem;
  /* outline: 2px solid red; */
}

.updated-report-notice-2 > p {
  font-weight: bold;
  /* margin-block-end: 1rem; */
  box-shadow: 0px 2px 5px 0px #00000088;
  background: hsl(55, 100%, 90%);
  /* display: flex;
  justify-content:center;
  align-items: center; */
  /* align-self: center; */
}


.updated-report-notice-2 > a {
  --corner-size: 2em;

  overflow: hidden;
  /* margin-inline-start: auto; */
  /* max-height: 6ex; */
  box-shadow: 0px 0 5px 0px #00000088;
  position: relative;
  /* border: 1px solid #00000088; */
}


.updated-report-notice-2 > a > img {
  /* width: 100%; */
  display: block;
}


.updated-report-notice-2 > a::before {
  position: absolute;
  /* content : 'NEW'; */
  content : '';
  display: block;
  color: white;
  /* background: red; */
  top:0;
  /* left: 100%; */
  right: 0;
  width: 0;
  height:0;
  border-top: var(--corner-size) solid red;
  border-right: var(--corner-size) solid red;
  border-bottom: var(--corner-size) solid transparent;
  border-left: var(--corner-size) solid transparent;
  translate: 0;
}

.updated-report-notice-2 > a::after {
  content: 'NEW';
  color: white;
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: flex-end;

  aspect-ratio: 1/1;
  background: blue;
  /* font-size: calc(var(--corner-size) / 2);
  top: calc(var(--corner-size) / 6);
  right: calc(var(--corner-size) / 6); */
  font-size: 1rem;
  
  /* width: 100%; */
  inset:0;
  translate: 3em -3em;
  rotate: 45deg;
} 





/* updated report notice 2 */

.updated-report-notice-3 {
  margin-block-end: 3rem;
  border-radius: 0.5rem;
  background: hsl(55, 100%, 90%);
  box-shadow: 0px 2px 5px 0px #00000088;
  padding: 1rem;
  font-weight: bold;
  position:relative;
}


.updated-report-notice-3::after {
  content: '';
  position: absolute; 


}






/* EBO Spring 2023 */






:is(.report-table,.report-chart) .title span{
  display:block;
  color: var(--fao-blue);
  margin-bottom: 5px;
}

col{
  font-size:clamp(9px,1.7vw,15px);
}

div.report-table-container{
  overflow-x: auto;
}

/* heading styles separated from H# elements */
.heading-1{ 
   
  font-size: 32px;
  line-height: 40px; 
}
.heading-2{ 
   
  font-size: 26px;
  line-height: 32px; 
}
.heading-3{ 
   
  font-size: 22px;
  line-height: 24px; 
}
.heading-4{ 
   
  font-size: 20px;
  line-height: 28px; 
}
.heading-5{ 
   
  font-size: 20px;
  line-height: 28px; 
}

/* add spacing between heading and previous content */
article > * + :is(h1,h2,h3,h4,h5) {
  margin-top: 3     rem;
}
/* if a heading follows a heading, remove the extra spacing */
:is(.heading-1,.heading-2,.heading-3,.heading-4,.heading-5) + :is(.heading-1,.heading-2,.heading-3,.heading-4,.heading-5){
  margin-top:0;
}

table.report-table :is(th,td).header {
  background-color: var(--fao_dark_blue);
  /* --fao-dark-blue-rgb */
  color: white;
  font-weight: bold;
}

/* 10px is too much spacing for sub-lists */
ul ul {
  margin-top: 5px;
}


.bg-alt-blue, 
  tr.bg-alt-blue > *{
    background-color: #D4E4FC;
  }

col{
  font-size:clamp(9px,1.7vw,15px);
}

div.report-table-container{
  overflow-x: auto;
}

.sidebyside .heading-0,
.sidebyside .heading-1,
.sidebyside .heading-2,
.sidebyside .heading-3,
.sidebyside .heading-4,
.sidebyside .heading-5 {
  margin-top:0;
}


.navigation {
    position: sticky; 
    margin-top:2%;

}

.hamburger{
    visibility: hidden;
}
  
/* Position the top div's content to display side by side and to the far right of the page*/
.top{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    /*remoce space between the top and bottom divs */
    padding: 0%;
    /* give space between each link */
    padding-right: 2%;
    gap:10px;
    
}

/* Position the bottom div's content to display right below the top div's content */

.bottom{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    /* position to the far right of the page */
    position: absolute;
    gap: 15px;
    right: .5%;
    padding: 0%;
    /*remove space between the top and bottom divs */
    margin-top: -.4%;
    width: 100%;
}

.logo{
    position: absolute;
    left: 7%;
    padding-top: 1%;
}

.logo img{
    max-width: 70%;
    height: auto;
}

.main-menu-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 2.5vh;
    gap: 1vh;
}
.main-menu-links a{
    /* strip the underline from the links */
    text-decoration: none;
    color: #3890FF;
    /* add space between the links */
    padding: 10px;
}

.main-menu-links a:hover{
    /* add underline to the links when hovered */
    color: #65a7f7;
}

.main-menu-links a:hover .triangle{
    border-top: 10px solid #65a7f7;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact a{
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 2vh;
    color: #3890FF;
    /* add space between the links */
    padding-right: 15px;
    text-decoration: none;
}

.contact a:hover{
    color: #65a7f7;
}

.mpp-portal{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #3890FF;
    /*Make the div's height bigger*/
    height: 5vh;
    width: 7%;
}


.mpp-portal a{
    color: white;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    /*position the text in the middle of the div */

}

.mpp-portal a:hover{
    color: #ffffffe7;
}


.search{
    /* position the button and the input box side by side */
    display: flex;
    justify-content: flex-end;
    /* add space between the links */
    padding-right: 1%;
}

.search button{
    /* the search button is an image so we need to remove the border */
    border: none;
    background: none;
    /* add space between the links */
    padding-right: 1vh;
}

.search input{
    /*strip the border from the input box */
    border: none;
    color: #B2B2B2;
    text-align: right;
    width: 10vh;
    /*add animation to expand the input box */
    transition: width 0.4s ease-in-out;
}

.search input[type="text"]{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 2.5vh;
}

.search input:focus{
    /*make the input box bigger when clicked */
    width: 200px;
    outline: none;
    /*position the input box alligned with main-menu-links */
}


.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    /* add space between the links */
}

.socials a{
    /* add space between the links */
    padding-right: 15px;
}

.socials img{
    /*align all the images */
    vertical-align: middle;
}

.fr{
    /* add space between the links */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 2vh;
    color: #707070;
}

.fr a{
    text-decoration: none;
}

.triangle{
    display: inline-flex;
    margin-left: 10px;
    margin-bottom: 2%;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #3890FF;
}


.hp-fao-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    position: relative;

}


  
.FAO-Title {
    display: flex;
    align-items: flex-start;
    font-family: 'Gabarito', sans-serif;
    font-size: 3vw;
    color: #3890FF;
    font-weight: 100;
    display: flex; /* Display the title and image side by side */
    align-items: center; /* Vertically center the title and image */
}




.FAO-Title img {
    max-width: 40%;
    height: auto;
    position: absolute;
    right: 1%;
    vertical-align: baseline;
}

.FAO-Title h1{
    /*bring the title up */
    margin-top: -10%;
}

/*
.hero-img {
    max-width: 40%; /* Adjust the maximum width as needed to ensure it doesn't block the title 
    height: auto;
    position: absolute;
    right: 1%;
    top: 0;
}
*/
  
.FAO-is p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    font-weight: lighter;
}

.meet-the{
    display: flex;
    /*move down the text */
    vertical-align: middle;
    color: #3890FF;
    font-weight: bold;
    font-size: 2vh;
}
  
.meet-the-text a{
    float:left;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1vw;
}

.meet-the-img img{
    float: left;
    max-width: 90%;
    height: auto;
    /*move the image to the middle of the text */
    margin-top: -10px;
}

.semi-circle{
    position: relative; 
    left: -5%;
    transform: translate(-70%, -10%);
    width: 10%;
    height: 10%;
    border-radius: 100px 100px 0 0; 
    background-color: #EBF4FF; 
    rotate: 90deg;
}

.hp-reports{
}

.hp-reports h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22.5px;
    /*center text */
    text-align: center;
}

.latest-reports{
    display: flex;  
    justify-content: center;
}

.latest-reports ol{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    align-items: center;
    gap: 10px;
}

.latest-reports li{
    aspect-ratio: 0.8;
}

.latest-reports img{
    /*make the image smaller */
    max-width: 90%;
    height: auto;
    /*align the image to the center */
}

.meet-the{
    display:flex;
    /*move down the text */
    margin-top: 2%;
    color: #3890FF;
    font-weight: bold;
    font-size: 22.5px;
}


.meet-the-img{
    /*move the image up */
    margin-top: -10px;
    /*move the image to the right */
    margin-left: 20px;
}


.topics{
    background-color: #EBF4FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:2%;
    padding-bottom: 5%;
}

.topics h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22.5px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.subscribe{
    background-color: #3890FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.subscribe h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    color: white;
    margin-top: 2%;
    margin-bottom: 1%;
}

.subscribe p{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1vw;
    color: white;
}

.subscribe-bar{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1%;
}

.subscribe-bar input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 50vh;
    height: 5vh;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 19.5px;
    color: #B2B2B2;
}

.subscribe-bar button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    background-color: #E0EDFF;
    color: #064068;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    padding-bottom: 1%;
}

.footer h3, p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
}


/* media queries */
@media (max-width: 1100px) {
    /*delete the image when the screen is smaller than 768px */
    .FAO-Title img{
        display: none;
    }

    .semi-circle{
        display: none;
    }

    .hp-fao-desc{
        /*center the text */
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 4%;
        margin-bottom: 8%;
    }

    .FAO-Title{
        /*add some margin to the top */
        margin-top: 8%;
    }

    .FAO-Title h1{
        font-size: 8vw;
        /*center the text */
        text-align: center;
    }

    .FAO-is p{
        font-size: 2.5vw;
        /*center the text */
        text-align: center;
    }

    .meet-the-text a{  
        font-size: 2vw;
        text-align: center;
    }

    .meet-the img{
        display: none;
    }

    .semi-circle{
        display: none;
    }
    .navigation{
        /*replace with the hamburger menu */
        display:none;
    }
    .logo{
        /*position the logo on the top left of the screen */
        position: relative;
        left: 4%;
        max-width: 50%;
        width: auto;
        height: auto;
        margin-top: 2%;
        margin-bottom: 3%;

    }

    .logo img{
        /*make the logo bigger */
        width: 60%;
        height: auto;
    }
    .hamburger{
        /*position the hamburger menu on the middle of the screen*/
        position: absolute;
        right: 2%;
        top: 2%;
        visibility: visible;
    }
    .hamburger button{
        /*remove the border from the hamburger menu */
        border: none;
        background: none;

    }

    .hamburger button img{
        /*make the hamburger menu responsive to screen size */
        max-width: 100%;
        height: auto;
    }

    .hp-reports h1{
        font-size: 6vw;
    }

    .topics h2{
        font-size: 4vw;
    }

    .topic-image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topic-image img{
        display: flex;
        max-width: 70%;
        height: auto;
    }

    .subscribe h2{
        font-size: 4vw;
    }

    .subscribe p{
        font-size: 2vw;
        text-align: center;
    }

    .subscribe-bar input{
        width: 80%;
        height: 3vh;
        font-size: 2vw;
    }

    .subscribe-bar button{
        width: 30%;
        height: 50%;
        font-size: 1vw;
        text-align: center;
    }

    .footer h3, p{
        font-size: 1.5vw;
    }
}


/*home page ends */











 